@{
    Layout = null;
}
@model LoginViewModel

<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KaneBlake.IdentityServer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!--Set PWA manifests-->
    <link rel="manifest" href="~/manifest.json">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100">
    <div class="position-fixed h-100 w-100 bg-light"></div>
    <div class="container d-flex h-100">
        <div class="login-panel ">
            <div class="text-center">
                <div class="mb-3">
                    <a href="/">
                        <img src="~/icon_48px.png" class="">
                    </a>
                </div>
                <h4 class="font-weight-light">@H["Sign in to KaneBlake"]</h4>
                <hr />
            </div>
            <form asp-action="Login" id="form1" data-encrypted-form="true">
                <input type="hidden" asp-for="ReturnUrl" />

                <fieldset>
                    <div class="form-group">
                        <label class="font-weight-bold" asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName" autofocus>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold d-block" asp-for="Password">
                            <a class="float-right text-decoration-none font-weight-normal font-size-1" href="/password_reset">@H["Forgot password"]?</a>
                        </label>
                        <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                    </div>
                    @if (Model.AllowRememberLogin)
                    {
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                @*<input type="checkbox" class="custom-control-input" asp-for="RememberLogin">*@
                                <input type="checkbox" class="custom-control-input" id="RememberLogin" name="RememberLogin" value="true">
                                @*<input type="checkbox" class="custom-control-input" name="@nameof(Model.RememberLogin)" value="true">*@
                                <label class="custom-control-label" asp-for="RememberLogin"></label>
                            </div>
                        </div>

                    }
                    <div class="form-group">
                        <dnt-captcha asp-captcha-generator-max="9000"
                            asp-captcha-generator-min="1"
                            asp-captcha-generator-language="English"
                            asp-captcha-generator-display-mode="ShowDigits"
                            asp-use-relative-urls="true"
                            asp-placeholder="Security code as a number"
                            asp-validation-error-message="Please enter the security code as a number."
                            asp-font-name="Tahoma"
                            asp-font-size="20"
                            asp-fore-color="#333333"
                            asp-back-color="#ccc"
                            asp-text-box-class="text-box form-control"
                            asp-text-box-template="<div class='input-group'><span class='input-group-prepend'><span class='input-group-text'><i class='fas fa-lock'></i></span></span>{0}</div>"
                            asp-validation-message-class="text-danger"
                            asp-refresh-button-class="fas fa-redo btn-sm"
                            asp-use-noise="false" />
                    </div>
                    <div class="text-danger validation-summary-valid" data-valmsg-custom="true"><ul></ul></div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" name="button" value="login">@H["Sign In"]</button>
                    </div>
                </fieldset>
            </form>
            <p class="create-account-callout mt-3 text-center py-3 border rounded bg-light">
                @H["New to KaneBlake"]?
                <a asp-action="SignUp" asp-controller="Account" asp-route-returnurl="@Model.ReturnUrl" role="button">@H["Create an account"]</a>.
            </p>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>
</html>